{% extends "base.html" %}{% load bootstrap4 %}
{% block content %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
            <h1 class="mb-5">Popular Courses</h1>
        </div>
        <div class="d-flex">
            <form class=" bg-light  w-50" method="get">
                {% bootstrap_form form %}
                <button class="w-100  btn btn-sm btn-primary my-3" type="submit">Apply Filter</button>
            </form>
            <div>
                <div class="row g-4 justify-content-center">
                    {% for course in courses %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp w-auto" data-wow-delay="0.1s">
                        <div class="course-item bg-light" style=" width: 300px; ">
                            <div class="position-relative overflow-hidden w-100">
                                <img class="img-fluid w-100 " src="{{course.image.url}}" alt=""
                                    style=" max-height: 165px; ">
                                <div
                                    class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                    <a href="{% url 'courses:course_desc' course.slug%}"
                                        class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"
                                        style="border-radius: 30px 0 0 30px;">Read More</a>
                                    <a href="{% url 'courses:courses_enroll' course.slug%}"
                                        class="flex-shrink-0 btn btn-sm btn-primary px-3"
                                        style="border-radius: 0 30px 30px 0;">Join Now</a>
                                </div>
                            </div>
                            <div class="text-center p-4 pb-0">
                                <h3 class="mb-0">${{course.price}}</h3>
                                <h5 class="mb-4">{{course}}</h5>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i
                                        class="fa fa-user-tie text-primary me-2"></i>{{course.instructor}}</small>
                                <small class="flex-fill text-center border-end py-2"><i
                                        class="fa fa-clock text-primary me-2"></i>{{course.period}}</small>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <h1 class="text-center">No courses found.</h1>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}