{% extends "base.html" %}{% block content %}
<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Courses</h1>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Categories Start -->
<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Categories</h6>
            <h1 class="mb-5">Courses Categories</h1>
        </div>
        {% if category|length > 0 %}
        <div class="row g-3">
            <div class="col-lg-7 col-md-6">
                <div class="row g-3">
                    <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                        <a class="position-relative d-block overflow-hidden"
                            href="{% url 'courses:courses_list'%}?category={{category.0.id}}">
                            <img class="img-fluid" src="{{category.0.image.url}}" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3"
                                style="margin: 1px;">
                                <h5 class="m-0">{{category.0.name}}</h5>
                                <small class="text-primary">{{category.0.coursecount}} Courses</small>
                            </div>
                        </a>
                    </div>
                    {% if category|length > 1 %}
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden"
                            href="{% url 'courses:courses_list'%}?category={{category.1.id}}">
                            <img class="img-fluid" src="{{category.1.image.url}}" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3"
                                style="margin: 1px;">
                                <h5 class="m-0">{{category.1.name}}</h5>
                                <small class="text-primary">{{category.1.coursecount}} Courses</small>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    {% if category|length > 2 %}
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden"
                            href="{% url 'courses:courses_list'%}?category={{category.2.id}}">
                            <img class="img-fluid" src="{{category.2.image.url}}" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3"
                                style="margin: 1px;">
                                <h5 class="m-0">{{category.2.name}}</h5>
                                <small class="text-primary">{{category.2.coursecount}} Courses</small>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if category|length > 3 %}
            <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                <a class="position-relative d-block h-100 overflow-hidden"
                    href="{% url 'courses:courses_list'%}?category={{category.3.id}}">
                    <img class="img-fluid position-absolute w-100 h-100" src="{{category.3.image.url}}" alt=""
                        style="object-fit: cover;">
                    <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
                        <h5 class="m-0">{{category.3.name}}</h5>
                        <small class="text-primary">{{category.3.coursecount}} Courses</small>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
<!-- Categories End -->


<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
            <h1 class="mb-5">Popular Courses</h1>
        </div>
        <div class="row g-4 justify-content-center">
            {% for course in course %}
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item bg-light">
                    <div class="position-relative overflow-hidden" style="max-height: 165px;">
                        <img class="img-fluid w-100 h-100" src="{{course.image.url}}" alt="">
                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                            <a href="{% url 'courses:course_desc' course.slug%}"
                                class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end"
                                style="border-radius: 30px 0 0 30px;">Read More</a>
                            <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3"
                                style="border-radius: 0 30px 30px 0;">Join Now</a>
                        </div>
                    </div>
                    <div class="text-center p-4 pb-0">
                        <h3 class="mb-0">${{course.price}}</h3>
                        <h5 class="mb-4">{{course}}</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2"><i
                                class="fa fa-user-tie text-primary me-2"></i>{{course.instructor}}</small>
                        <small class="flex-fill text-center border-end py-2"><i
                                class="fa fa-clock text-primary me-2"></i>{{course.period}}</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30
                            Students</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="text-center p-4">
        <a href="{% url 'courses:courses_list' %}" class="w-50 flex-shrink-0 btn btn-sm btn-primary px-3"
            style="border-radius: 30px ;">Browse More
            courses</a>
    </div>
</div>
<!-- Courses End -->


<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Testimonial</h6>
            <h1 class="mb-5">Our Students Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative h-100">
            {% for student in student %}
            <div class="testimonial-item text-center ">
                <img class="border rounded-circle p-2 mx-auto mb-3 " src="img/testimonial-1.jpg"
                    style="width: 80px; height: 80px;">
                <h5 class="mb-0">{{student.user.first_name}}</h5>
                <p>{{student.course|truncatechars:50}}</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">{{student.comment}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Testimonial End -->
{% endblock content %}