{% extends "base.html" %}
{% block content %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div data-wow-delay="0.1s">
                <div class="bg-light text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-window-close text-primary mb-4"></i>
                        <h5 class="mb-3">We can’t find this page</h5>
                        <p>It looks like this page doesn't exist or isn’t available right now.
                            Please Check the URL or go to <a href="{% url 'home:home' %}">home</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}